<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Cômodo</title>
</head>
<body>
    <h1>Adicionar Cômodo</h1>
    <form method="post">
        {% csrf_token %}
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" >
        {% if error_message == 'O campo nome é obrigatório' %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}
        <br>
        <label for="locacao">Locação:</label>
        <select id="locacao" name="locacao" >
            <option value="">Selecione uma locação</option>
            {% for locacao in locacoes %}
                <option value="{{ locacao.id }}">{{ locacao.nome }}</option>
            {% endfor %}
        </select>
        {% if error_message == 'O campo locação é obrigatório' %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}
        <br>
        <button type="submit">Adicionar Cômodo</button>
    </form>
</body>
</html>


