<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watts</title>
</head>
<body>
    <h1>Início</h1>

    <nav>
        <ul>
            <li><a href="{% url 'app:addLocacao' %}">Adicionar Locação</a></li>
            <li><a href="{% url 'app:addComodo' %}">Criar Cômodo</a></li>
            <li><a href="{% url 'app:addPontodeenergia' %}">Criar Ponto de Energia</a></li>
        </ul>
    </nav>

</body>
</html>
